# Project exclude paths
/out/
/subject-1/chapter-1-3/target/
/subject-1/chapter-2-1/target/
/subject-1/chapter-2-2/target/
/subject-1/chapter-3-1/target/
/subject-2/01-activemq/target/
/subject-2/01-activemq-spring/target/
/subject-2/01-activemq-springboot/target/
/subject-2/02-rabbitmq/target/